.fnbBigLogo
{
    text-align: center;
    height: 150px;
    width: 360px;
}

.info
{
    padding-top: 60px;
    width: 100%;

}

.table
{
  width: 80%;
}

.bigLogoRow
{
    margin-top: 40px;
}

.bigLogoCol
{
    text-align: center;
}

.lineRow
{
    padding-top: 50px;
    
}

.lineRow2
{
    padding-top: 50px;
    
}

.toplineRow
{
    height: 5px;
    background-color: rgb(95,169,171);
}

.fnbReporting
{
    height: 35px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: rgb(95,169,171);
    /*color: rgb(231,152,36);*/
    margin-top: -32px;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.rightLineRow
{
    height: 20px;
    background-color: rgb(95,169,171);
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
}

.leftLineRow
{
    height: 20px;
    background-color: rgb(95,169,171);
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
}


.FormSelect
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: rgb(95,169,171);
    margin-left: 60px;
    padding-top: 180px;
 
}

.formWidth
{
    text-align: center;
    width:1000px;
}

.formCol
{
    text-align: center;
}

.formCol1
{
    width: 200px;
}

.formCol2
{

    width: 100px;
}

.formCol3
{

    width: 100px;
}

.formCol4
{
 
    width: 100px;
}

.downloadPDF
{
    text-align: center;
}



